.cm-div {
    display: flex;
    align-items: center;
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 10px 40px;
}
.hey {
    margin: 0 20px;
}
.sort-btn {
    width: 150px;
    margin: 0 50px;
}

.select {
    width: 200px;
    margin-right: 50px;
    color: black;
}